<table class="tlist">
  <tr>
    <td><div class='title'>{include file=submenu}</div></td>
  </tr>
</table>

<form method="post" action="{echo url()}" id="sort" name="sort">

<table class="list tab">
    <tr class="odd x-line">
    <th align="center" width="40">排序</th>
    <th align="center" width="40">编号</th>
    <th align="left" width="200">名称</th>
    <th align="left">描述</th>
    <th width="80">操作</th>
	</tr>
  {foreach from=$rows item=v}
  <tr class="x-line">
  <td align="center">
      <input type="text" class="input-text text-sort" name="sort[{$v.id}]" value="{$v.sort}" />
  </td>
  <td align="center">{$v.id}</td>
  <td align="left">{$v.layer}{$v.title}</td>
  <td align="left">{$v.remark}</td>
  <td align="center">
    <a class="option" href="{url href=add id=$v.id}"> 编辑 </a>
    <a class="option" onclick="app.confirm('{url href=delete id=$v.id}','确定要删除吗？');" href="javascript:;"> 删除 </a>
  </td>
  </tr>
  {/foreach}
</table>

<button type="submit" class="btn btn-primary btn-sm"><i class="icon icon-sort-by-order"></i> 排序</button>